$primary: #f1cdb3;
$primary-ligth: #fddcc4;
$dark-font: #545454;
$grey-font: #b2b2b2;
$white-font: #fff;
$black-font: #000;
$btn-font: #292929;
$text-font: #4c4c4c;
$main-page-font: #cdcdcd;
$active-link-font: #fafafa;
$bg-grey: #f6f6f6;
$black: #000;


$title-font: Georgia, sans-serif;
$main-font: Arial, sans-serif;