.footer {
	padding-top: 40px;
	background: url("../assets/img/main-bg.png") center no-repeat;
	background-size: cover;

	&__container {
		@extend %container;
		@include flex();
	}

	&__wr-contact {
		max-width: 288px;
		margin-bottom: 40px;
	}

	&__title {
		@extend %title;
		margin-bottom: 40px;
		color: $white-font;
	}

	&__svg {
		min-width: 40px;
		width: 40px;
		height: 32px;
		margin-right: 20px;
		fill: $primary;
	}

	&__text {
		@include flex($justify: flex-start);
		white-space: pre-line;
		font-family: Georgia;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 1.2px;
		color: $primary;

		&:first-of-type {
			margin-bottom: 40px;
		}
	}

	&__wr-address {
		max-width: 302px;

		& svg {
			margin-right: 10px;
		}
	}

	&__pic {
		width: 300px;
		height: 310px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.address-text {
	@include flex($justify: flex-start);
	position: relative;
	top: -7px;
	left: -10px;
	margin-bottom: 27px;
	letter-spacing: 1.15px;

	&:last-of-type {
		@include flex($justify: flex-start);
		position: relative;
		top: -15px;
		left: -10px;
		letter-spacing: 1.5px;
	}
}
