html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wr-about, .wr-pets, .wr-help, .wr-donation {
  padding: 80px 0 100px;
}

.header__container, .wr-intro__container, .wr-about__container, .wr-pets__container, .wr-help__container, .wr-donation__container, .footer__container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wr-intro__title, .wr-about__title, .wr-pets__title, .popup__name, .wr-help__title, .wr-help__subtitle, .wr-donation__title, .wr-donation__subtitle, .footer__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  white-space: pre-line;
  letter-spacing: 2.1px;
}

.wr-intro__link, .wr-pets__link, .slider__link, .slider__btn-popup {
  display: inline-block;
  padding: 15px 45px;
  font-size: 17px;
  letter-spacing: 1px;
  border-radius: 100px;
}

.wr-intro__link:hover, .wr-pets__link:hover, .slider__link:hover, .slider__btn-popup:hover {
  background-color: #fddcc4;
}

.slider__item {
  width: 270px;
  max-width: 270px;
  min-width: 270px;
  height: 435px;
  margin: 0 45px;
  background-color: #fafafa;
  border-radius: 10px;
}

.slider__item:hover {
  background-color: #fff;
}

.slider__wr-pic {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  background-color: #fafafa;
  border-radius: 10px;
}

.slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__title {
  margin-bottom: 30px;
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1px;
  color: #545454;
}

.slider__link, .slider__btn-popup {
  margin-left: 39px;
  border: 2px solid #f1cdb3;
}

.slider__link:hover, .slider__btn-popup:hover {
  border-color: #fddcc4;
}

.prev-page,
.next-page, .popup__btn {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  background-color: transparent;
}

.prev-page:hover,
.next-page:hover, .popup__btn:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

body {
  overflow-x: hidden;
  color: #cdcdcd;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: Georgia, sans-serif;
  color: #292929;
}

.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  padding-top: 65px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .main-logo {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header__logo {
  display: inline-block;
  margin-bottom: 7px;
  font-family: Georgia, sans-serif;
  font-size: 32px;
  color: #f1cdb3;
  letter-spacing: 1.9px;
  line-height: 130%;
}

.header__burger {
  display: none;
}

h1,
.title-main {
  padding-left: 4px;
  color: #fff;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1.3px;
  line-height: 15px;
}

.nav .header__wr-logo {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-left: 36px;
}

.nav__link {
  padding: 2px 0;
  font-family: Arial, sans-serif;
  color: #cdcdcd;
}

.nav__link.active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.nav__link.off {
  pointer-events: none;
}

.nav__link:hover {
  color: #fafafa;
}

.wr-intro {
  width: 100%;
  height: 910px;
  padding-top: 185px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../assets/img/main-bg.png") center no-repeat;
  background-size: cover;
}

.wr-intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.wr-intro__content {
  max-width: 460px;
  margin-bottom: 75px;
}

.wr-intro__title {
  margin-bottom: 40px;
  color: #fff;
  font-size: 44px;
  letter-spacing: 0;
}

.wr-intro__text {
  margin-bottom: 40px;
  line-height: 160%;
}

.wr-intro__link {
  background: #f1cdb3;
  line-height: 130%;
}

.wr-intro__pic {
  max-width: 698px;
  max-height: 728px;
}

.wr-intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wr-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 215px;
}

.wr-about__content {
  max-width: 430px;
}

.wr-about__pic {
  margin-right: 120px;
  max-width: 300px;
  max-height: 408px;
}

.wr-about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wr-about__title {
  margin-bottom: 25px;
}

.wr-about__text {
  line-height: 160%;
  color: #4c4c4c;
}

.wr-about__text:first-of-type {
  margin-bottom: 25px;
}

.wr-pets {
  position: relative;
  background-color: #f6f6f6;
}

.wr-pets__container {
  position: relative;
}

.wr-pets__title {
  margin-bottom: 60px;
  text-align: center;
}

.wr-pets__link {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #f1cdb3;
}

.slider {
  position: relative;
  left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 62px;
  max-width: 1150px;
}

.slider__item {
  margin: 0 45px;
}

.slider__btn-popup {
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.prev-page,
.next-page {
  position: absolute;
  top: 49%;
  z-index: 10;
  font-size: 19px;
}

.prev-page {
  left: 40px;
}

.next-page {
  right: 40px;
}

.popup {
  display: none;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.popup.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  z-index: 150;
  padding-right: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 880px;
  height: 500px;
  background-color: #fafafa;
  border-radius: 17px;
}

.popup__btn {
  position: relative;
  z-index: 105;
  top: -275px;
  right: -75px;
  font-size: 30px;
}

.popup:hover .popup__btn {
  background-color: #fddcc4;
}

.popup:hover .popup__container:hover .popup__btn {
  background-color: transparent;
}

.popup:hover .popup__container:hover .popup__btn:hover {
  background-color: #fddcc4;
}

.popup__wr-pic {
  width: 500px;
  height: 500px;
  margin-right: 30px;
}

.popup__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px;
}

.popup__content {
  max-width: 350px;
  color: #000;
  font-family: Georgia;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.popup__name {
  margin-bottom: 10px;
  color: #000;
}

.popup__breed {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 115%;
}

.popup__description {
  margin-bottom: 40px;
}

.popup__list {
  margin-left: 10px;
}

.popup__list li {
  margin-bottom: 10px;
  list-style: disc;
  color: #f1cdb3;
}

.popup__list li:last-of-type {
  margin-bottom: 0;
}

.popup__list-title {
  font-weight: bold;
  color: #000;
}

.popup__list-text {
  color: #000;
}

.wr-help__title {
  margin-bottom: 60px;
  text-align: center;
}

.wr-help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 121px;
     -moz-column-gap: 121px;
          column-gap: 121px;
  row-gap: 55px;
}

.wr-help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wr-help__svg {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
  fill: #f1cdb3;
}

.wr-help__subtitle {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1px;
}

.wr-donation {
  padding-top: 82px;
  background-color: #f6f6f6;
}

.wr-donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 182px;
}

.wr-donation__content {
  max-width: 380px;
}

.wr-donation__pic {
  max-width: 505px;
  max-height: 261px;
  margin-right: 30px;
}

.wr-donation__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wr-donation__title {
  margin-bottom: 22px;
}

.wr-donation__subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.9px;
}

.wr-donation__card-container {
  display: inline-block;
  padding: 5px 15px 10px;
  margin-bottom: 20px;
  background-color: #f1cdb3;
  border-radius: 9px;
}

.wr-donation__card-container:hover {
  background-color: #fddcc4;
}

.wr-donation__svg {
  position: relative;
  top: 5px;
  width: 30px;
  height: 23px;
  margin-right: 11px;
  fill: #292929;
}

.wr-donation__card-number {
  padding: 5px 0;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #545454;
}

.wr-donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18.5px;
  color: #b2b2b2;
}

.footer {
  padding-top: 40px;
  background: url("../assets/img/main-bg.png") center no-repeat;
  background-size: cover;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wr-contact {
  max-width: 288px;
  margin-bottom: 40px;
}

.footer__title {
  margin-bottom: 40px;
  color: #fff;
}

.footer__svg {
  min-width: 40px;
  width: 40px;
  height: 32px;
  margin-right: 20px;
  fill: #f1cdb3;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  white-space: pre-line;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #f1cdb3;
}

.footer__text:first-of-type {
  margin-bottom: 40px;
}

.footer__wr-address {
  max-width: 302px;
}

.footer__wr-address svg {
  margin-right: 10px;
}

.footer__pic {
  width: 300px;
  height: 310px;
}

.footer__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.address-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: -7px;
  left: -10px;
  margin-bottom: 27px;
  letter-spacing: 1.15px;
}

.address-text:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: -15px;
  left: -10px;
  letter-spacing: 1.5px;
}

@media (max-width: 1279.5px) {
  .header {
    padding-top: 30px;
  }
  .header__container {
    padding: 0 30px;
  }
  .wr-intro {
    padding-top: 150px;
    height: auto;
  }
  .wr-intro__container {
    display: block;
    padding: 0 30px;
  }
  .wr-intro__content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .wr-intro__link {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .wr-intro__pic {
    margin-left: auto;
    margin-right: 0;
    max-width: 569px;
    max-height: 593px;
  }
  .wr-about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 165px;
  }
  .wr-about__pic {
    margin-right: 0;
  }
  .wr-about__content {
    margin-bottom: 80px;
  }
  .wr-pets__container {
    padding: 0 30px;
  }
  .slider {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    min-width: 580px;
  }
  .slider__item {
    margin: 0 20px;
  }
  .prev-page {
    left: 30px;
  }
  .next-page {
    right: 30px;
  }
  .popup__container {
    width: 625px;
    height: 350px;
    padding-right: 5px;
  }
  .popup__content {
    min-width: 260px;
  }
  .popup__wr-pic {
    min-width: 350px;
    width: 350px;
    height: 350px;
    margin-right: 10px;
  }
  .popup__breed {
    margin-bottom: 20px;
  }
  .popup__description {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .popup__list li {
    margin-bottom: 5px;
  }
  .popup__btn {
    min-width: 52px;
    min-height: 52px;
    top: -195px;
    right: -5px;
  }
  .wr-help__container {
    padding: 0 30px;
  }
  .wr-help__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    padding: 0 39px;
  }
  .wr-donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .wr-donation__content {
    margin-bottom: 60px;
  }
  .wr-donation__text {
    max-width: 380px;
  }
  .wr-donation__pic {
    margin-right: 0;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 64px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__wr-contact {
    margin-right: 7vw;
  }
  .footer__pic {
    margin: 25px 100px 0;
  }
}

@media (max-width: 767.5px) {
  .header__container {
    padding-left: 10px;
    padding-right: 50px;
  }
  .header__burger {
    position: relative;
    z-index: 100;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active {
    position: fixed;
    top: 50px;
    right: 50px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .header__burger-line {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #f1cdb3;
  }
  .main-logo.active {
    opacity: 0;
  }
  .nav {
    position: fixed;
    top: -30px;
    right: -800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100vw;
    height: calc(100vh + 30px);
    min-height: 650px;
    background-color: rgba(41, 41, 41, 0.6);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .nav .header__wr-logo {
    position: absolute;
    top: 54px;
    right: 125px;
    display: block;
  }
  .nav__list {
    width: 320px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #292929;
  }
  .nav__item {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .nav__link {
    font-size: 32px;
  }
  .nav.active {
    position: fixed;
    right: 0;
  }
  .wr-intro__container {
    padding: 0 10px;
  }
  .wr-intro__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }
  .wr-intro__text {
    text-align: center;
  }
  .wr-intro__pic {
    max-width: 260px;
    max-height: 272px;
  }
  .wr-about {
    padding: 42px 0;
  }
  .wr-about__container {
    padding: 0 10px;
  }
  .wr-about__content {
    margin-bottom: 40px;
  }
  .wr-about__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }
  .wr-about__text {
    text-align: justify;
  }
  .wr-about__pic {
    max-width: 260px;
    max-height: 364px;
  }
  .wr-pets {
    padding: 42px 0;
  }
  .wr-pets__container {
    padding: 0 10px;
  }
  .wr-pets__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }
  .slider {
    min-width: 270px;
    margin-bottom: 115px;
  }
  .slider__item {
    margin: 0 15px;
  }
  .prev-page {
    top: 82%;
    left: 30vw;
  }
  .next-page {
    top: 82%;
    right: 30vw;
  }
  .popup__container {
    width: 240px;
    height: 340px;
    padding-right: 0;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .popup__content {
    min-width: 220px;
    max-width: 220px;
  }
  .popup__wr-pic {
    display: none;
  }
  .popup__btn {
    top: -195px;
    right: 0px;
  }
  .popup__name, .popup__breed {
    text-align: center;
  }
  .popup__breed {
    margin-bottom: 10px;
    letter-spacing: normal;
  }
  .popup__description {
    text-align: justify;
    margin-bottom: 10px;
    letter-spacing: normal;
  }
  .popup__list li {
    letter-spacing: normal;
  }
  .wr-help {
    padding: 42px 0;
  }
  .wr-help__container {
    padding: 0 10px;
  }
  .wr-help__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
    margin-bottom: 40px;
  }
  .wr-help__list {
    max-width: 450px;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding: 0 5px;
  }
  .wr-help__svg {
    width: 50px;
    height: 50px;
  }
  .wr-help__subtitle {
    font-size: 15px;
    line-height: 16.5px;
  }
  .wr-donation {
    padding: 42px 0;
  }
  .wr-donation__container {
    padding: 0 10px;
  }
  .wr-donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .wr-donation__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }
  .wr-donation__subtitle {
    line-height: 16.5px;
    text-align: center;
    letter-spacing: 0.1px;
  }
  .wr-donation__card-number {
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.8px;
  }
  .wr-donation__text {
    text-align: justify;
  }
  .wr-donation__pic {
    margin: 0 20px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .footer__title {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }
  .footer__wr-contact {
    margin-right: 0;
  }
  .footer__pic {
    width: 260px;
    height: 269px;
    margin: 25px 0 0;
  }
  .address-text {
    letter-spacing: 1px;
  }
}

@media (max-width: 550px) {
  .slick-prev {
    left: 25%;
  }
  .slick-next {
    right: 25%;
  }
}

@media (max-width: 400px) {
  .slick-prev {
    left: 68px;
  }
  .slick-next {
    right: 68px;
  }
}
